
body {
	font-family: 'Raleway', sans-serif;
	background-color: #10181d;
	margin: 0;
}

.Header {
	position: fixed;
	height: 70px;
	top: -60px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.3);
	z-index: 100;
	-webkit-transition: top 0.2s; /* Safari */
    transition: top 0.2s;
}

.Header:hover {
	top: 0;
}

.Logo {
	height: 30px;
	float: left;
	margin: 20px;
}

.Title {
	font-size: 24px;
	text-transform: uppercase;
}

.LeftBarLabels {
	width: 280px;
	padding: 20px;
	height: 100vh;
	overflow-y: scroll;
	list-style: none;
	float: left;
	margin: 0;
}

.LeftBarLabels::-webkit-scrollbar-track {
	background-color: #10181d;
}

.LeftBarLabels::-webkit-scrollbar {
	background-color: #10181d;
	width: 10px;
}

.LeftBarLabels::-webkit-scrollbar-thumb {
	background-color: #223c4c;
}

.LeftBarLabel {
	position: relative;
	width: 100%;
	cursor: pointer;
	height: 100%;
}

.LeftBarLabelName {
	width: 200px;
	position: relative;
	left: 0;
	float: left;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 14px;
	color: #ababab;
	margin: 10px 0;
}

.LeftBarLabelName:hover {
	color: #fff;
}

.LeftBarLabelCount {
	position: relative;
	right: 0;
	float: right;
	display: table-cell;
	vertical-align: middle;
	color: #ababab;
	font-size: 14px;
	margin: 10px 0;
}

.TopBarLabels {
	position: absolute;
	left: 300px;
	overflow: hidden;
	text-transform: uppercase;
}

.CurrentLabelRelations {
	list-style: none;
}

.CurrentLabelName {
	font-size: 42px;
	font-weight: 900;
	margin: 0 50px;
	color: #fff;
}

.CurrentLabelRelationsName {
	float: left;
	margin: 10px;
	color: #ababab;
	font-size: 14px;
	font-weight: 900;
	cursor: pointer;
}

.CurrentLabelRelationsName:hover {
	color: #fff;
}

#ChartStage {
	position: absolute;
	top: 150px;
	right: 20px;
	float: right;
	width: 800px;
	height: 400px;
	overflow: hidden;
}

canvas {
	position: absolute;
	right: 0;
}

.Overlay {
	position: relative;
	height: 100%;
	width: 100%;
	margin: auto;
}

.OverlayVideo {
	width: 840px;
	height: 630px;
}

.OverlayClose {
	height: 40px;
	width: 40px;
	position: absolute;
	right: 20px;
	top: 0;
	background-image: url('https://d30y9cdsu7xlg0.cloudfront.net/png/6448-200.png');
	background-size: 40px 40px;
	cursor: pointer;
}

.hidden {
	display: none;
}

.reveal {
	z-index: 100;
}

#Footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	right: 0;
}

.Timeline {
	position: relative;
	width: 100%;
	background-color: #efefef;
	height: 50px;
}

.TimelineSlider {
	position: absolute;
	width: 200px;
	right: 0;
	background-color: #6f6f6f;
	height: 100%;
}

.TimelineHandleLower {
	display: inline-block;
	position: absolute;
	left: 0;
	width: 20px;
	background-color: #ffc267;
	height: 60px;
}

.TimelineHandleUpper {
	display: inline-block;
	position: absolute;
	right: 0;
	width: 20px;
	background-color: #ff6e67;
	height: 60px;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #10181d;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
