
body {
	font-family: 'Raleway', sans-serif;
}

.Header {
	position: relative;
	top: 0;
}

.Logo {
	height: 30px;
	float: left;
	margin-right: 40px;
}

.Title {
	font-size: 24px;
}

.LeftBarLabels {
	width: 300px;
	padding: 20px;
	height: 100vh;
	overflow: hidden;
	list-style: none;
}

.LeftBarLabel {
	position: relative;
	width: 100%;
	cursor: pointer;
	height: 100%;
}

.LeftBarLabelName {
	width: 200px;
	position: relative;
	left: 0;
	float: left;
	text-transform: uppercase;
	font-weight: 900;
	color: #ababab;
	margin: 10px 0;
}

.LeftBarLabelName:hover {
	color: #000;
}

.LeftBarLabelCount {
	width: 100px;
	position: relative;
	right: 0;
	float: right;
	display: table-cell;
	vertical-align: middle;
	color: #ababab;
	font-size: 20px;
	margin: 10px 0;
}

.TopBarLabels {
	position: absolute;
	top: 90px;
	left: 300px;
	overflow: hidden;
	text-transform: uppercase;
}

.CurrentLabelRelations {
	list-style: none;
}

.CurrentLabelName {
	font-size: 34px;
	font-weight: 900;
	margin: 0 20px;
}

.CurrentLabelRelationsName {
	float: left;
	margin: 10px;
	color: #ababab;
	font-size: 16px;
	font-weight: 900;
	cursor: pointer;
}

.CurrentLabelRelationsName:hover {
	color: #000;
}

.ChartStage {
	height: 100%;
	width: 100%;
}